[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/gowalla/AFNetworking.git
[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/samsoffes/sstoolkit.git
